<div class="ml-5">
    <h3 style="color:@Color">Component2</h3>
    <p>
        Count: @CounterValue2
    </p>
</div>
@code {
    [CascadingParameter(Name = "Counter")]
    public int CounterValue2 { get; set; }

    [CascadingParameter(Name ="TitleColor")]
    public string Color { get; set; }

}
