@page "/counter"

<h3>ParentComponent</h3>

<p>
    @*Current Count: @currentCount*@
</p>

<p>
    Set Count: @setCount
</p>


@*<Counter SetCurrentCount="SetCurrentCountInt"></Counter>*@
<Counter SetCount="SetCurrentCountInt"></Counter>
@code {
    //private int currentCount;
    private int setCount;

    private void SetCurrentCountInt(int value)
    {
        //currentCount = value;
        setCount = value;
        StateHasChanged();
    }
}